.jumbotron {
    background-color: #3b5998;
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn {
    border: 1px solid;
    color: black;
    background-color: transparent;
}

.btn:hover {
    background-color: #3b5998;
    color: white;
}

.card-hotel {
    /*150px espesifica el ancho definido*/
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    columns: flex;
    justify-content: space-between;
}

.btn-reserva {
    width: 100%;
}